.login input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--light-green);
    opacity: 1; /* Firefox */
}
.login input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--light-green);
}
.login input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--light-green);
}
.login form, .login div,  .login input {
    border-radius: 10px;
    border-width: 1.5px;
    border-color: var(--dark-grey) !important;
    border-style:solid;
}
.login div {
    border-color: var(--dark-green) !important;
    margin: 100px 0 !important;
}
.login p {
    text-align: center;
    font-size: 20px;
    margin: 16px 100px;
}
/* input */
.login  .btn-custom  {
    background-color: var(--dark-green);
    color: white;
}
.login .btn-custom:hover {
    background-color: var(--light-green);
    color: var(--dark-grey);
}
.login a {
    color: var(--dark-green);
}
.login h1 {
    color: var(--dark-grey);
    font-size: 2rem;
}
.login label {
    color: var(--dark-green);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -1rem;
}
.btn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}