
:root {
  --dark-grey: #555b6e;
  --dark-green: #89b0ae;
  --light-green: #bee3db;
  --light-orange : #ffd6ba;
}

#wrapper {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  overflow: hidden;
}
